---
layout: default
---

    <div id="fullpage">
        <div class="section">
            {% include intro.html %}
        </div>
        <div class="section">
            {% include lineup.html %}
        </div>
        {% for post in site.categories.suspect %}
            <div class="section" style="background: radial-gradient(
      rgba(22, 22, 22, 0.90) 0%, 
      rgba(12, 12, 12, 1) 60%
    ), url('{{ site.baseurl }}/img/suspect/{{ post.slug }}/{{ post.background }}'); background-size:cover;">
                {% include suspect.html %}
            </div>
        {% endfor %}
    </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>


