<section class="clue">
    <div class="clue-btn clue-next">
<!--        <h1>Next</h1>-->
    </div>
    <div class="clue-container">
        <div style="display:inline-block;">
            <img src="{{ site.baseurl }}/img/evidence/ar_payslip-01.png"/>
            <p>Police Notes:<br /> Alice Roberts payslip reveals an unusually high income, needs to be compared to other employees.</p>
        </div>
          <div>
            <img src="{{ site.baseurl }}/img/evidence/eb_payslip-02.png"/>
            <p>Police Notes:<br /> Edwin Bolman, long term employee, payslip </p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/bank_statement-07.png"/>
            <p>Police Notes:<br /> Simon DeVaul was spending more than he was making, how did he plan on paying off his debts?</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/crime_scene-04.png"/>
            <p>Police Notes:<br /> Time of death was 8:30pm in Robert DeVauls office</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/hotel_bill.png"/>
            <p>Police Notes:<br /> Found in Robert DeVauls office, assistant says this was written up as a business trip</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/lettertoWilliam.png"/>
            <p>Police Notes:<br /> Company denies William Hedberg treatment for his daughter despite him working closely with Robert</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/newspaper_clipping-03.png"/>
            <p>Police Notes:<br /> Newspaper clipping announcing Robert DeVauls death</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/retirement_speech-08.png"/>
            <p>Police Notes:<br /> Found in Robert DeVauls office, who is he referring to?</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/traintickets.png"/>
            <p>Police Notes:<br /> Tickets from business trip to sign contract with government</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/wh_payslip.png"/>
            <p>Police Notes:<br /> William Hedbergs bank statement, where are large deposits coming from?</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/work_visa.png"/>
            <p>Police Notes:<br /> Theodore Tresler visa to work in US</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/sign_in_sheet.png"/>
            <p>Police Notes:<br /> Sign in sheet for access to Raytheon Technologies labs</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/glass.svg"/>
            <p>Police Notes:<br /> Found in Robert DeVauls office</p>
        </div>
    </div>
    <div class="clue-btn clue-prev">
<!--        <h1>Previous</h1>-->
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/js/clues.js"></script>
