<section class="clue">
    <div class="clue-btn clue-next">
<!--        <h1>Next</h1>-->
    </div>
    <div class="clue-container">
        <div style="display:inline-block;">
            <img src="{{ site.baseurl }}/img/evidence/ar_payslip-01.png"/>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/bank_statement.png"/>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/crime_scene-04.png"/>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/eb_payslip-02.png"/>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/hotel_bill.png"/>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/lettertoWilliam.png"/>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/newspaper_clipping-03.png"/>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/retirement_speech-08.png"/>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/traintickets.png"/>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/wh_payslip.png"/>
        </div>
        <div>
            <img src="{{ site.baseurl }}/img/evidence/work_visa.png"/>
        </div>
    </div>
    <div class="clue-btn clue-prev">
<!--        <h1>Previous</h1>-->
    </div>
</section>
