<link rel="stylesheet" type="text/css" href="js/jquery.fullPage.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/js/jquery.fullPage.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#fullpage').fullpage({
            sectionsColor: ['#161616', '#161616', '#161616', '#161616', '#161616', '#161616'],
            anchors: ['home', '1', '2', '3', '4', '5'],
            menu: '#menu',
            scrollingSpeed: 1000
        });
    });
</script>