<!--<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/js/jquery.fullPage.css" />-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/js/transcript.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/js/intro.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/js/jquery.fullPage.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#fullpage').fullpage({
            animateAnchor: false,
            controlArrows: true,
            sectionsColor: ['#161616', '#dbdbdb', '#161616', '#161616', '#161616', '#161616', '#161616', '#161616'],
            anchors: ['intro', 'lineup', 'tt', 'sd', 'eb', 'wh', 'ar', 'clues'],
            menu: '#menu',
            scrollingSpeed: 800,
            afterLoad: function(anchorLink, index){
                whosActive();
			 }
        });
    });
</script>