<div class="slide">
   <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
</head>
<div id="flip-wrapper">
<div id="flip-content">
  <div class="face">
    <h1 class="id_title">Raython Technologies</h1>
 
    <img class="id_photo"  src={{site.baseurl}}/img/suspect/{{post.slug}}/id_photo.png />
       <p class="id_name id_job">{{ post.title_job }}</p>
    
    <p class="id_name">{{ post.title }}</p>
    
    
  </div>
  <div class="back face">
    <img class="logo" src=http://ethanbohan.com/assets_for_codepen/rath_logo.png alt="logo" />
    <h4 class="backText" >All Access</h4>
  </div>
</div>
</div>
</div>