<div class="intro">


	<div class="intro-content">
		<p class="typebyletter">
			It was 1943... right around the time the U.S became involved in Hungary during WWII... There was a party at the main office of Raytheon Technologies, a massive weapons manufacturing company operating out of Richmond Virginia... The CEO Richard DeVaul and his closest employees were celebrating the contract they recently signed with the United States government that would bring huge profits to the company.
		
			As the party was winding down CEO, Richard DeVaul, went into his office to retrieve a speech he prepared. After not returned for some time, a coworker went looking for him in his office only to find him dead on the ground. The police were called and an investigation into the murder of Richard DeVaul was launched, but no arrests were ever made and eventually the case went cold... Years later new evidence resurfaced, and the case has been re-opened. Find clues and bring the murderer to justice… you’re on the case.
		</p>

    </div>
</div>