<div class="intro">
    <div class="intro-content">
        <h1>
            Cold Case.
        </h1>
        <p>
            It was the 1940s, just before United States became involved in WWII, at a office party at Raytheon Technologies in Virginia. The weapons manufacturer was celebrating the contract they recently signed with the United States government that would bring large profits to the company. As the party was winding down the company CEO, Richard DeVaul, went into his office to retrieve a speech he prepared. After he had not returned for some time, a coworker entered his office and found him dead. The police were called and everyone remaining at the party was interviewed, eventually the case went cold.  A few years later the case was reopened and now it is your job to find the killer.
        </p>
    </div>
</div>