<div class="slide">
    <div class="suspect-bio">
        <div class="suspect-bio-item">
            <div class="suspect-bio-item-img" style="
                background: url('{{site.baseurl}}/img/suspect/{{post.slug}}/fullShot.svg');
                background-size:contain;
                background-position: center center;
                background-repeat: no-repeat;">
                
            </div>
        </div>
        <div class="suspect-bio-item">
            <h1>
                {{ post.title }}
            </h1>
            <p>
                {{ post.content }}
            </p>
        </div>
    </div>
</div>