 <div class="slide">
  

   
    <div class="suspect-bio">
        <div class="suspect-bio-item">
            <div class="suspect-bio-item-img" style="
                background: url('{{site.baseurl}}/img/suspect/{{post.slug}}/fullShot.svg');
                background-size:contain;
                background-position: center center;
                background-repeat: no-repeat;">
                
            </div>
        </div>
        <div class="suspect-bio-item">
            <h1>
                {{ post.title }}
            </h1>
            <p>
                {{ post.content }}
            </p>
            <!-- The Modal -->
        </div>
    </div>
    <div class="suspect-link">
        <div class="tranBtn suspect-link-item">
            <p>Transcript</p>
        </div>
        <div class="cardBtn suspect-link-item">
            <p>ID Card</p>
        </div>
    </div>
    
       <div id="tranModal" class="tranModal suspect-modal">

            <!-- Modal content -->
            <div class="suspect-modal-content">
                <div class="suspect-tran">
                   <span class="close">
                       &times;
                    </span>
                    <img src="{{site.baseurl}}/img/suspect/{{post.slug}}/fullShot.png" alt="Transcript">
                </div>
                <div class="suspect-card">
                   <span class="close">
                       &times;
                    </span>
                    {% include id.html %}
                </div>
            </div>

        </div>
    
</div>