.clue{
    position:relative;
    display: flex;
    align-items: center;
    margin:0 auto;
    max-width: 1000px; height: 100vh;
    padding:1em;
    background: $c-bg;
}

.clue-container{
    width:70vw; height: 100vh;
    img {
        position: absolute;
        height: 60vh;
        top:0; bottom:0;
        left:0; right:0;
        text-align: center;
        margin:auto;
    }
    p {
        position: absolute;
        bottom: 50px;
        max-width: 400px;
    }
}

.clue-container div{
    display:block;
    display:none; 
    img {
        align-self:center;
    }
}

.clue-btn {
    width:50px; height:50px;
    border-radius: 50%;
    //padding:10px 5px;
    background: $c-bg;
    border: 4px solid $c-head;
    transform: scale(1);
    transition: all 200ms ease-in-out;
    &:hover {
        transform: scale(1.1);
        background: $c-head;
    }
}

.clue-next{
    
}

.clue-prev{
    
}