.intro {
    &-content {
        max-width: 800px;
        margin: auto;
        h1 {
            padding: 1rem;
        }
        p {
            line-height: 1.5em;
            color: $c-text;
            padding: 0 1rem;
        }
    }
}