.lineup {
    position: relative;
    vertical-align: middle;
    svg {
        vertical-align: top;
    }
    &-content {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        p {
            color: $c-bg;
        }
    }
}

.accuse {
    position:absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:40%;
    min-width:200px;
    bottom:-100px;
    left:30%;
    right:30%;
    background: $c-active;
    border-radius: 2px;
    box-shadow: 1px 5px 15px -4px rgba(100,100,150,.35), 1px 2px 20px rgba(0,0,0,.25);
    h1, p {
        margin:0;
        line-height: 1.3em;
        color: $c-bg;
    }
    &-sus {
        padding:0px 20px;
    }
    &-btn {
        padding:40px 20px;
        background: #ccc;
        border-radius: 0 2px 2px 0;
    }
}

svg .sus {
    transform: translateY(0px);
    transition: all 300ms ease-in-out;
    transform-origin:center center;
    &:hover {
        transform: translateY(-10px) scale(1.1);
    }
}

svg #sus-carl {
    
}