.lineup {
    vertical-align: middle;
    svg {
        vertical-align: top;
    }
    &-content {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        p {
            color: $c-bg;
        }
    }
}

svg #sus-carl {
    transform: translateY(0px);
    transition: all 300ms ease-in-out;
    &:hover {
        transform: translateY(30px);
    }
}