.slide {
    
}

.suspect {
    &-bio {
        padding: 0 $mobile-nav-size 0 0;
        &-item {
            width:90%;
            margin:0 auto;
            color: $c-text;
            &-img {
                width:100%; height:300px;
                transform: translateX(600px) scale(.5);
                transition: all 750ms ease-in-out 0ms; 
            }
            h1 {
                font-size: 2em;
                line-height: 1.2em;
                opacity:0;
                transform: translateY(50px);
                transition: all 750ms ease-out 100ms;
            }
            p {
                line-height: 2.2em;
                opacity: 0;
                transform: translateY(50px);
                transition: all 750ms ease-out 300ms;
            }
        }
    }
}

.fp-completely .suspect-bio-item h1 {
    opacity:1;
    transform: translateY(0px);
}

.fp-completely .suspect-bio-item p {
    opacity:.9;
    transform: translateY(0px);
}

.fp-completely .suspect-bio-item-img {
    transform: translateX(0px) scale(1);
}

// Desktop Styles Here
@media only screen and (min-width: $on-palm) {
    .suspect {
        &-bio {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items:center;
            max-width: $content-width + 200px;
            margin: 0 auto;
            padding: 0 $nav-size 0 0;
            &-item {
                width:45%;
                &-img {
                    height: 80vh;
                }
                h1 {
                    font-size: 6em;
                }
            }
        }
    }
}