@import url('https://fonts.googleapis.com/css?family=Kadwa:700|PT+Mono');

$heading: 'Kadwa', serif;
$body: 'PT Mono', serif;
$c-head: #dbdbdb;


// ### COLORS ###

$c-bg: #161616;
$c-text: #dbdbdb;
$c-active: #fcd685;

// ### SIZING ###

$nav-size: 50px;
$mobile-nav-size: 35px;

// ### OTHER ###

$redacted_border: 1px solid $c-text;