@import url('https://fonts.googleapis.com/css?family=Kadwa:700|PT+Mono');

$nav-size: 50px;
$heading: 'Kadwa', serif;
$body: 'PT Mono', serif;
$c-head: #dbdbdb;


// ### COLORS ###

$c-bg: #161616;
$c-text: #dbdbdb;
$c-active: #fcd685;